<h2>Welcome to <br />the Survivor Pool!</h2>
<p>
  Hey guys, so I made this website to run our Survivor Pool.
</p>
<p>
  Just sign up, make your picks, and talk some smack.
</p>
<div class = "signup_button">Sign Up Now!</div>