<header class = "span-24 last">

<div class = "span-6">&nbsp;</div>

<div class = "span-12">
  <h2><%= link_to "Survivor: Redemption Island", root_path %></h2>
</div>

<div class = "span-6 last"><%= render 'layouts/user_bar' %></div>

</header>